body {
    font-family: Georgia, serif;
    background-image: url(https://images.pexels.com/photos/1743392/pexels-photo-1743392.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
}

a:hover {
    color: yellow;
}